node_modules/
dist/
data/
# fleet run sandboxes (also covered by data/)
data/fleet/workspaces/
.env
*.log
bin/circom
circuits/build/*.ptau
circuits/build/*.r1cs
circuits/build/*.sym
circuits/build/policy_0000.zkey
circuits/build/pot*
